
.navbar-background{
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 77px;
  z-index: 2;
  position: fixed;
  border-bottom: 1.4px solid black;
  transition: background-color 0.5s ease;
}
.orangeBackground{
  background-color: #f24d2e;
}
.blueBackground{
  background-color: #4479ff;
}
.mw1300{
  max-width: 1300px;
}
.clrw{
  color: white;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 20px;
  z-index: 1;
}
.navbar-logo {
  width: 160px;
  height: 25px;
}
.logoStyle{
  filter: invert(100%)
}
.navbar-menu-container {
  display: flex;
}
.navbar-menu {
  display: none;
  list-style-type: none;
  align-items: center;
  font-size: 14px;
}
.menu {
  padding-right: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
}
.sign-in {
  display: none;
  align-items: center;
  font-size: 14px;
  padding-right: 1.5rem;
}
.navbar-button {
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  transition: background-color 1s ease;
}
.navbar-scrolled {
  background: white;
}
.greenButton {
  background-color: #1a8917;
}
@media (min-width: 552px) and (max-width: 727px) {
  .sign-in {
    display: flex;
  }
}
@media (min-width: 728px) {
  .sign-in {
    display: flex;
    font-size: 1rem;
  }
  .navbar-container {
    padding: 20px 50px;
  }
  .navbar-menu {
    display: flex;
    font-size: 1rem;
  }
}
